[submodule "BrawlhallaSwz"]
	path = BrawlhallaSwz
	url = https://github.com/allhailcheese/BrawlhallaSwz.git
[submodule "BrawlhallaLangReader"]
	path = BrawlhallaLangReader
	url = https://github.com/allhailcheese/BrawlhallaLangReader.git
